<table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Priority</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Study</td>
        <td>Complete Angular Tutorial</td>
        <td>
          <select class="bg-dark">
            <option value="pending">Pending</option>
            <option value="in_progress">In-Progress</option>
            <option value="completed">Completed</option>
          </select>
        </td>
        <td>
          <select class="bg-dark ">
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  