table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: #dddddd;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  select {
    font-size: 16px;
    border: none;
    padding: 5px;
    color: #dddddd
  }

 